// ==========================================================================
// PARTY STYLES
// ==========================================================================

body.party {
    font-family: 'Comic Sans MS', 'Comic Neue', 'Marker Felt', sans-serif;
    font-size: 1.6rem;

    animation: 1s shift-background linear infinite;

    @include at-most(768px) {
        font-size: 1.4rem;
    }
}

.party {
    a {
        animation: 1s shift-foreground linear infinite;
    }

    .portrait {
        animation: 0.44s pulse linear infinite;
    }

    .portrait__default {
        display: none;
    }

    .portrait__party {
        display: block;
    }

    .party-button {
        animation: 1s shift-background linear infinite;
    }
}
