// ==========================================================================
// MAIN STYLES
// ==========================================================================

@import "font";
@import "media-queries";
@import "animations";
@import "modal";
@import "party";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
.page {
    height: 100%;

    @include tallest(500px) {
        height: auto;
    }
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    margin: 0;
    padding: 1rem;

    background-color: #008080;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;

    perspective: 1800px;

    @include at-most(768px) {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
}

h1 {
    font-size: 3.6rem;

    @include at-most(500px) {
        font-size: 2.4rem;
    }
}

a {
    color: #008080;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

.page {
    display: flex;
    align-items: center;

    padding: 4rem 2rem;

    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;

    &__content {
        max-width: 600px;
        margin: 0 auto;
    }
}

.portrait {
    max-width: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15);

    &__default {
        display: block;
    }

    &__party {
        display: none;
    }
}

.social {
    ul {
        padding: 0;
        margin: 0 0 36px;
    }

    li {
        display: inline-block;
        margin-right: 0.5rem;
    }
}

.party-button {
    display: inline-block;
    padding: 16px 32px;

    background-color: #008080;
    border-radius: 10px;

    font-size: 14px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        text-decoration: none;
        transform: scale(1.1);
    }
}
