@import "~reset-scss";
@import "~prismjs/themes/prism-solarizedlight.css";

@import "base/global";
@import "base/typography";
@import "base/party";

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
