<footer class="footer">
    <h3 class="footer__header">Browse Around</h3>
    <p class="footer__links">
        <a class="link" href="/">Blog</a>
        / <a class="link" href="/about/">About</a>
    </p>
    <h3 class="footer__header">Rowan Around the Internets</h3>
    <p class="footer__links">
        <a class="link" href="mailto:rowan.weismiller@gmail.com">Email</a>
        / <a class="link" href="//github.com/{{ site.author.github }}">GitHub</a>
        / <a class="link" href="//twitter.com/{{ site.author.twitter }}">Twitter</a>
        / <a class="link" href="//ca.linkedin.com/in/rowanweismiller">LinkedIn</a>
        / <a class="link" href="//thenachoclub.com/">The Nacho Club</a>
    </p>
    <p class="footer__message js-super-party-button">
        Powered by nachos in Vancouver, Canada
    </p>
</footer>
