<header class="header layout__header">
    <a href="/" class="logo">
        <span class="logo__initial" aria-hidden="true">{{ site.author.name | slice: 0 }}</span>
        <span class="sr-only">{{ site.author.name }}</span>
    </a>
    <nav class="nav">
        <ul class="nav__list">
            <!-- <li class="nav__item">
                <a class="nav__link link" href="/work/">Work</a>
            </li> -->
            <li class="nav__item">
                <a class="nav__link link" href="/">Blog</a>
            </li>
            <li class="nav__item">
                <a class="nav__link link" href="/about/">About</a>
            </li>
        </ul>
    </nav>
</header>