<header class="header layout__header">
    <a href="/" class="logo">
        <span class="logo__initial" aria-hidden="true">{{ site.author.name | slice: 0 }}</span>
        <span class="logo__effects" aria-hidden="true"></span>
        <span class="logo__party" aria-hidden="true"><img src="/assets/images/rowan-party.gif"/></span>
        <span class="sr-only">{{ site.author.name }}</span>
    </a>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link link" href="/">Blog</a>
            </li>
            <li class="nav__item">
                <a class="nav__link link" href="/about/">About</a>
            </li>
        </ul>
    </nav>
    <div class="header__actions">
        <button class="button js-party-button">Party</button>
        <audio class="js-party-music" src="/assets/sounds/sandstorm.mp3" preload="none"></audio>
    </div>
</header>