// ==========================================================================
// MODAL COMPONENT
// ==========================================================================

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    &.active {
        display: flex;
        align-items: center;

        animation: 0.25s fade-in-bg ease-out forwards;

        .modal__panel {
            max-width: 600px;
            padding: 10px;
            margin: 0 auto;

            background-color: white;
            border-radius: 5px;

            animation: 0.5s fade-in-up ease-out forwards;
        }
    }

    &.dismissed {
        animation: 0.25s fade-out-bg ease-out forwards;
        pointer-events: none;

        .modal__panel {
            animation: 0.5s fade-out-down ease-out forwards;

            pointer-events: none;
        }
    }
}


.modal.dismissed .modal__panel {
    animation: 0.5s fade-out-down ease-out forwards;

    pointer-events: none;
}