// ==========================================================================
// ANIMATIONS
// ==========================================================================

@keyframes rainbow-background {
    0% { background-color: #008080;}
    25% { background-color: #FF19C2; }
    50% { background-color: #00FFFF; }
    75% { background-color: #CCAE14; }
    100% { background-color: #008080; }
}

@keyframes rainbow-background-offset {
    0% { background-color: #00FFFF;}
    25% { background-color: #CCAE14; }
    50% { background-color: #008080; }
    75% { background-color: #FF19C2; }
    100% { background-color: #00FFFF; }
}

@keyframes rainbow-foreground {
    0% { color: #008080;}
    25% { color: #FF19C2; }
    50% { color: #00FFFF; }
    75% { color: #CCAE14; }
    100% { color: #008080; }
}

@keyframes fade-in-up {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes fade-out-down {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(50px); opacity: 0; }
}

@keyframes fade-in-bg {
    from { background-color: rgba(0,0,0,0); }
    to { background-color: rgba(0,0,0,0.5); }
}

@keyframes fade-out-bg {
    from { background-color: rgba(0,0,0,0.5); }
    to { background-color: rgba(0,0,0,0); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes spin {
    0% { transform: rotate(0); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@keyframes logo-pulse {
    0% { transform: translate($logo-offset, $logo-offset); }
    50% { transform: translate(-$logo-offset, -$logo-offset); }
    100% { transform: translate($logo-offset, $logo-offset); }
}

@keyframes logo-pulse-reverse {
    0% { transform: translate(-$logo-offset, -$logo-offset); }
    50% { transform: translate($logo-offset, $logo-offset); }
    100% { transform: translate(-$logo-offset, -$logo-offset); }
}
