// ==========================================================================
// COMIC NEUE, YO
// ==========================================================================

$title-font-stack: "freight-big-pro", 'Bodoni MT', Didot, "Didot LT Std",  Garamond, Georgia, serif;
$title-font-weight: 300;
$body-font-stack: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$body-font-weight: 300;
$body-font-weight-bold: 600;

html {
    font-size: 62.5%;
    @include at-least($bp-medium) {
        font-size: 75%;
    }
    @include at-least($bp-large) {
        font-size: 87.5%;
    }
    @include at-least($bp-largest) {
        // font-size: 100%;
    }
}

body {
    font-size: 1.8rem;
    font-family: $body-font-stack;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin-top: 0;
    margin-bottom: 1rem;
    font-feature-settings: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 1
}

h1,
h2,
h3,
h4 {
    font-family: $title-font-stack;
    line-height: 1.1;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 2rem;
}

h5,
h6 {
    font-family: $body-font-stack;
    font-weight: $body-font-weight-bold;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.4rem;
}

p,
li {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 0.65rem;
}

ul {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.lead {
    font-size: 2rem;
    margin-bottom: 3rem;
}
