// ==========================================================================
// COMIC NEUE, YO
// ==========================================================================

$title-font-stack: "freight-big-pro", "Garamond", "Georgia", serif;
$title-font-weight: 300;
$body-font-stack: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$body-font-weight: 300;
$body-font-weight-bold: 600;

html {
    font-size: 62.5%;
    @include at-least($bp-medium) {
        font-size: 75%;
    }
    @include at-least($bp-large) {
        font-size: 87.5%;
    }
    @include at-least($bp-largest) {
        font-size: 100%;
    }
}

body {
    font-size: 1.8rem;
    font-family: $body-font-stack;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin-top: 0;
}

h1,
h2,
h3,
h4 {
    font-family: $title-font-stack;
    line-height: 1.1;
}

h5,
h6 {
    font-family: $body-font-stack;
    font-weight: $body-font-weight-bold;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

h6 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.lead {
    font-size: 2rem;
    margin-bottom: 3rem;
}
