// ==========================================================================
// COMIC NEUE, YO
// ==========================================================================

%header-font {
    font-family: "freight-big-pro", 'Bodoni MT', Didot, "Didot LT Std",  Garamond, Georgia, serif;
    font-weight: 300;
}

%body-font {
    font-family: "freight-sans-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

%quote-font {
    font-family: "freight-text-pro",  Garamond, Georgia, serif;
    font-style: italic;
    font-weight: 300;
}

html {
    font-size: 62.5%;
    @include at-least($bp-medium) {
        font-size: 75%;
    }
    @include at-least($bp-large) {
        font-size: 87.5%;
    }
    @include at-least($bp-largest) {
        // font-size: 100%;
    }
}

body {
    @extend %body-font;
    font-size: 1.8rem;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin-top: 0;
    margin-bottom: 1rem;
    font-feature-settings: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 1
}

h1,
h2,
h3,
h4 {
    @extend %header-font;
    line-height: 1.1;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 2rem;
}

h5,
h6 {
    @extend %body-font;
    font-weight: 600;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.4rem;
}

p,
li {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 1rem;

    strong {
        font-weight: 600;
    }

    em {
        font-style: italic;
    }
}

ul,
ol {
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

blockquote {
    margin: 2rem 0;
    padding-left: 2rem;
    border-left: 0.5rem solid $color-primary;

    p {
        @extend %quote-font;
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 0;
    }
}

hr {
    border-color: $gray-lighter;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: 4rem 0;
}

.lead {
    font-size: 2rem;
    margin-bottom: 3rem;
}
