@import "../../assets/scss/vars/animations";
@import "../../assets/scss/vars/colours";
@import "../../assets/scss/vars/spacing";
@import "../../assets/scss/vars/mixins";
@import "../../assets/scss/vars/breakpoints";

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $logo-size-base;
  height: $logo-size-base;
  margin: 0 auto 0 0;
  font-size: $logo-size-base * 0.5;
  font-weight: 600;

  @include at-least($bp-layout) {
    margin: 0 auto 4rem;
    height: $logo-size-base * 2;
    width: $logo-size-base * 2;
    font-size: $logo-size-base * 0.75;
  }
}

.effects {
  @include cover-parent;

  // Overlapping Circles
  &::before,
  &::after {
    @include cover-parent;
    content: "";
    z-index: 1;
    border-radius: 50%;
    mix-blend-mode: multiply;
  }

  &::before {
    transform: translate(-$logo-offset, -$logo-offset);
    background-color: rgba($logo-color-1, 1);
  }

  &::after {
    transform: translate($logo-offset, $logo-offset);
    background-color: rgba($logo-color-2, 1);
  }

  // Hover State
  .logo:hover & {
    transition: transform 0.3s ease-out;
    transform: rotate(180deg);

    &::before,
    &::after {
      transition: transform 0.3s ease-out;
    }
    &::before {
      transform: translate($logo-offset, $logo-offset);
    }
    &::after {
      transform: translate(-$logo-offset, -$logo-offset);
    }
  }
}

.partyEffects {
  :global { animation: spin 2s linear infinite; }
  
  &::before,
  &::after {
    mix-blend-mode: normal;
  }

  &:before {
    :global { animation: 1s logo-pulse linear infinite; }
  }

  &:after {
    :global { animation: 1s logo-pulse-reverse linear infinite; }
  }
}

.initial {
  color: $white;
  position: relative;
  z-index: 2;
  display: block;
}

.party {
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 50%;
  width: 95%;
  height: 95%;
}
