.party {}

.party.is-chill {}

.party.is-lit {
    background-color: $gray-darker;
    color: $white;

    .header {
        background-color: $black;

        @include at-most($bp-layout) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 6rem;
        }
    }

    .content {
        @include at-most($bp-layout) {
            margin-top: 6rem;
        }
    }

    a:not(.logo),
    .card__title {
        animation: 1s rainbow-foreground linear infinite;
    }

    .link:after,
    .button {
        animation: 1s rainbow-background linear infinite;
    }

    .logo__effects {
        animation: 2s spin linear infinite;

        &::before,
        &::after {
            mix-blend-mode: normal;
        }

        &:before {
            animation: 1s logo-pulse linear infinite;
        }

        &:after {
            animation: 1s logo-pulse-reverse linear infinite;
        }
    }

    .logo__initial {
        display: none;
    }

    .logo__party {
        display: block;
    }
}

.party.is-raging {}
