// ==========================================================================
// COMIC NEUE, YO
// ==========================================================================

@font-face {
  font-family: 'Comic Neue';
  src: url('fonts/ComicNeue-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/ComicNeue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ComicNeue-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/ComicNeue-Regular.woff2') format('woff2'), /* Even Moderner Browsers */
       url('fonts/ComicNeue-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
}

@font-face {
  font-family: 'Comic Neue';
  src: url('fonts/ComicNeue-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/ComicNeue-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ComicNeue-Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/ComicNeue-Bold.woff2') format('woff2'), /* Even Moderner Browsers */
       url('fonts/ComicNeue-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
}
