@import "../assets/scss/vars/mixins";
@import "../assets/scss/vars/breakpoints";
@import "../assets/scss/vars/spacing";

.layout {
  display: flex;
  flex-direction: column;

  @include at-least($bp-layout) {
    height: 100%;
    flex-direction: row;
    overflow: hidden;
  }
}

.header {
  flex: 0 0 6rem;

  @include at-least($bp-layout) {
    flex: 0 0 $sidebar-width;
  }
}

.content {
  flex-grow: 1;

  @include at-least($bp-layout) {
    overflow-y: scroll;
    flex: 1 0 $sidebar-width;
  }
}

.main {
  position: relative;
  padding: 4rem 2rem;

  @include at-least($bp-layout) {
    padding-top: 6.75rem;
    padding-bottom: 6.75rem;
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 60rem;
  }
}
