@import "../assets/scss/vars/mixins";
@import "../assets/scss/vars/breakpoints";
@import "../assets/scss/vars/spacing";

.layout {
  display: flex;
  flex-direction: column;

  @include at-least($bp-layout) {
    height: 100%;
    flex-direction: row;
    overflow: hidden;
  }
}

.header {
  flex: 0 0 6rem;

  @include at-least($bp-layout) {
    flex: 0 0 $sidebar-width;
  }
}

.content {
  flex-grow: 1;

  @include at-least($bp-layout) {
    overflow-y: scroll;
    flex: 1 0 $sidebar-width;
  }
}
