// Media Queries
// ===

@mixin at-least($query) {
  @media only screen and (min-width: $query) {
    @content;
  }
}

@mixin at-most($query) {
  @media only screen and (max-width: $query) {
    @content;
  }
}

@mixin between($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin shortest($query) {
  @media only screen and (min-height: $query) {
    @content;
  }
}

@mixin tallest($query) {
  @media only screen and (max-height: $query) {
    @content;
  }
}

// Utilities
// ===

@mixin cover-parent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
