.button {
    padding: 1rem 2rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: $link-color;
    color: $white;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-appearance: none;
    cursor: pointer;
    transition: background 0.3s ease-in
                transform 0.3s ease-in;
    &:hover {
        background-color: $link-color-hover;
        transform: scale(1.02) translateY(-1px);
        transition: background 0.1s ease-out
                    transform 0.1s ease-out;
    }
    &:active {
        transition: none;
        transform: scale(1) translateY(0);
    }
}
