.content {
    padding: 4rem 2rem 0;

    @include at-least($bp-layout) {
        padding: 6.75rem 4rem 0;
    }
}

.content__wrapper {
    @include at-least($bp-large) {
        max-width: 60rem;
    }
}

.content__main {
    padding-bottom: 4rem;
    max-width: 44rem;
}

