.hero {
    position: relative;
}

.hero__image {
    width: 100%;
}

.hero__caption {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    max-width: 40rem;
    color: $white;
    font-size: 1.4rem;
    text-align: right;

    @include at-least($bp-large) {
        width: calc(100% - 62rem);
        text-align: left;
        margin-right: 0;
    }
}