.opening {
    margin-bottom: 4rem;
}

.opening__title {
    margin-bottom: 0.5rem;

    @include at-least($bp-large) {
        font-size: 5rem;
    }
}

.opening__subtitle {
    max-width: 55rem;
    font-size: 1.8rem;
}
